/*======================================================== Style Geral===========================================================*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Poppins", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/*======================================================== Style Header=========================================================*/
.headertop{
    background-color: green;
    height: 30px;
  }
  .headersub{
    background: rgb(106,255,111);
    background: linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
    direction:initial;
    height: 250px;
  }

  .logo{
    width: 350px;
    height: 350px;
  }

  .bgmenu{ 
    inset-block-end: 15px;
  }

  .imgmain {
  min-height: 100%;
  background-attachment:fixed; /* Efeito Paralax */
  background-position: unset;
  background-size: cover;
}

.divBusca{
border-radius:3px;
width:290px;
height: 36px;
border: transparent;
background-color: white;
}

.inputBusca{
border-radius:3px;
width:250px;
height: 36px;
border: transparent;
color: white;
}



    /* ===============================================Style Footer===================================================*/
    .bgfooter{
    background: rgb(0,128,0);
 background: linear-gradient(0deg, rgba(0,128,0,1) 10%, rgba(106,255,111,1) 79%);
 }