* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color:  linear-gradient(0deg, rgba(106,255,111,1) 0%, green);;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
  }
  
  .header {
    background-color: #eeeeee;
    padding: 20px;
  }

  .form button {
    background-color:linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
    border: 2px solid #ffff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Error and Success */
  .form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #fc6251;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }