body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(106,255,111);
    background: linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
  color: white;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

header a:hover {
  background-color: #3366CC;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

.formulário {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background: rgb(106,255,111);
    background: linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
}

.formulário h2 {
  text-align: center;
  margin-bottom: 20px;
}

.meio {
  margin-bottom: 15px;
}

.meio label {
  display: block;
  margin-bottom: 5px;
}

.meio input {
  width: 80%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.meio input[type="submit"] {
  background-color: #4285F4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.meio input[type="submit"]:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}