* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
    align-items: center;
  }
  
  .container {
    background-color:  linear-gradient(0deg, rgba(106,255,111,1) 0%, green);;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
  }
  
  

  .form button {
    background-color:linear-gradient(0deg, rgba(106,255,111,1) 0%, green);
    border: 2px solid #ffff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  
 
  
  
  
  